<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style ="background-color:brown; color:forestgreen">
       MVC Project
    </header>
    <div>
        @RenderBody()
    </div>
    <footer style="background-color:palevioletred; color:black">
			this is a footer of MVC Project
    </footer>
</body>
</html>
