<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="background-color:red; color:black">
        this is a header of layout page
    </header>
    <div>
        @RenderBody()
    </div>
    <footer style="background-color:red; color:black">
		this is a footer of layout page
    </footer>
</body>
</html>
