<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style=" background-color:aqua">
        <h1>this is the header</h1>
    </header>
    <div>
        @RenderBody();
    </div>
    <footer style="align-items:center; background-color:brown">
		<h2>This is the footer</h2>
	</footer>
</body>
</html>
