	
		<h1>this mainpage</h1>
		<div>
		<a href="https://localhost:7253/Student/showStdData" /> Student Specific record</a><br />
		<a href="https://localhost:7253/Student/Allstddata" /> Student all data</a>
		</div>

		
		