<html>
	<head>
	<title>Show Student Data</title>
	</head>
	<body>
		<h1>Student Data</h1>
		<table border="1">
			<tr>
				
				<th>Name</th>
				<th>Age</th>
				<th>DOB</th>
				<th>Address</th>
				<th>Gender</th>
			</tr>
			
			<tr>

			        <td>John Doe</td>
					<td>20</td>
			        <td>2003-05-15</td>
			        <td>123 Main St, Cityville</td>
					<td>Male</td>
			</tr>

		<tr>

			<td>Jane Smith</td>
			<td>22</td>
			<td>2001-08-10</td>
			<td>456 Elm St, Townsville</td>
			<td>Female</td>
		</tr>

		<tr>

			<td>ram</td>
			<td>21</td>
			<td>2004-04-01</td>
			<td>321elm st toen</td>
			<td>male</td>
		</tr>

			</table>

    

		
	</body>

</html>
	